#section-home-slider {
  .wrapper {
    align-items: stretch;
    @media (max-width: $size-tablet) {
      flex-direction: column;
    }
  }
  .main-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    padding-top: 40px;
    text-align: center;
    width: $size-desktop * 0.25;
    @media (max-width: $size-tablet) {
      padding-top: 40px;
      width: 100%;
    }
  }
  .slide-column {
    margin-left: $size-desktop * 0.05;
    flex-grow: 1;
    flex-shrink: 0;
    @media (max-width: $size-tablet) {
      margin-left: 0;
    }
    .navigation {
      height: 30px;
      margin-bottom: 10px;
      text-align: right;
      @media (max-width: $size-tablet) {
        display: none;
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 20px;
        padding: 0;
        + button {
          margin-left: 20px;
        }
      }
    }
    .slide-items {
      height: 245px;
      > * {
        height: 100%;
        picture {
          box-sizing: border-box;
          display: block;
          height: 100%;
          max-height: 245px;
          overflow: hidden;
          padding: 0;
          width: 100%;
          figure {
            box-sizing: border-box;
            display: block;
            height: 100%;
            margin: 0;
            overflow: hidden;
            padding-left: 0;
            padding-right: 0;
            padding-top: 56.25%;
            position: relative;
            width: 100%;
            img {
              height: auto;
              left: 0;
              position: absolute;
              top: 0;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
