#section-top{
    background: pink;
    padding:40px 0 ;
ul{
    align-items: center;
    justify-items: center;
    display: flex;
    list-style: none;
margin: 0;
padding: 0;
li{
    margin: 0 35px;
    a{color: gray;
font-weight: 600;
text-decoration: none;
text-transform: uppercase;
transition: color.15s ease-in;
&:hover{color: white;}
}
&.logotypr{margin-left: 65px;
margin-right: 65px;}
}
}
}
