.block-modal {
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 800px;
  width: calc(100% - 50px);
  &-header {
    align-items: center;
    border-bottom: 1px solid #ccc;
    display: flex;

    padding: 15px;
    .title {
      color: $green-clr;
      font-size: 18px;
      font-weight: 400;
      margin-right: 15px;
      text-transform: uppercase;
    }
    button {
      background: none;
      border: none;
      color: #999;
      cursor: pointer;
      font-size: 24px;
      margin: 0 0 0 auto;
      padding: 0;
      transition: color 0.15s ease-in;
      &:hover {
        color: $green-clr;
      }
    }
  }
  &-body {
    font-weight: 300;
    max-height: 70vh;
    overflow: auto;
    padding: 15px;
  }
}
